---
import { Code } from "astro:components";
const { bento } = Astro.props;
---

<div class="relative" id="html-code" data-value={bento.html}>
  <button
    class="copy-html-btn absolute top-0 right-0 mt-3 mr-3 px-5 text-md py-1
    bg-primary text-tertiary border border-secondary
    rounded-md cursor-pointer
    transition-all duration-300 ease-in-out select-none
    hover:text-primary hover:bg-tertiary"
  >
    COPY
  </button>
  <Code
    code={bento.html}
    lang="html"
    theme="dark-plus"
    wrap
    class="p-5 rounded-md"
  />
</div>

<div class="relative" id="css-code" data-value={bento.css}>
  <button
    class="copy-css-btn absolute top-0 right-0 mt-3 mr-3 px-5 text-md py-1
  bg-primary text-tertiary border border-secondary
  rounded-md cursor-pointer
  transition-all duration-300 ease-in-out select-none
  hover:text-primary hover:bg-tertiary"
  >
    COPY
  </button>
  <Code
    code={bento.css}
    lang="css"
    theme="dark-plus"
    wrap
    class="p-5 rounded-md"
  />
</div>

<div class="relative" id="tailwind-code" data-value={bento.tailwind}>
  <button
    class="copy-tailwind-btn absolute top-0 right-0 mt-3 mr-3 px-5 text-md py-1
      bg-primary text-tertiary border border-secondary
      rounded-md cursor-pointer
      transition-all duration-300 ease-in-out select-none
      hover:text-primary hover:bg-tertiary"
  >
    COPY
  </button>
  <Code
    code={bento.tailwind}
    lang="html"
    theme="dark-plus"
    wrap
    class="p-5 rounded-md"
  />
</div>
